<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="home">
	<select id="searchArea" parameterType="String" resultType="com.hb.tripus.model.dto.AreaDto">
		SELECT * FROM AREA WHERE NAME LIKE '%'||#{keyword}||'%'
	</select>
	<select id="getRecentSearch" parameterType="String" resultType="com.hb.tripus.model.dto.RecentSearchDto">
		SELECT ROWNUM, RS.* FROM (SELECT * FROM RECENTSEARCH WHERE USERID=#{value} ORDER BY IDX DESC) RS
		WHERE ROWNUM<![CDATA[ <= ]]>5
	</select>
	<insert id="insertRecentSearch" parameterType="java.util.Map">
		INSERT INTO RECENTSEARCH VALUES(RECENTSEARCH_IDX_SEQ.NEXTVAL, #{userid}, #{contentid}, #{firstimage}, #{title})
	</insert>
	
	
	<select id = "likeflag" parameterType="String" resultType="int">
		select count(*) from likeflag where contentid = #{contentid} and likeflag=1
	</select>
	
	<select id = "likeflag_test" parameterType ="com.hb.tripus.model.dto.LikeFlagDto" resultType="int">
		select count(*) from likeflag where contentid = #{contentid} and userid=#{userid}
	</select>
	
	<insert id = "likeflag_up" parameterType="com.hb.tripus.model.dto.LikeFlagDto" >
		insert into likeflag values (#{contentid},#{userid},1)
	</insert>

	<delete id = "likeflag_down" parameterType="com.hb.tripus.model.dto.LikeFlagDto">
		delete from likeflag where contentid=#{contentid} and userid=#{userid}
	</delete> 
	
	<select id = "reveiw" resultType="com.hb.tripus.model.dto.ReviewDto" parameterType="String">
		select nicname,review from review where contentid = #{contentid}
	</select>
	
	<insert id = "review_add"  parameterType="com.hb.tripus.model.dto.ReviewDto">
		insert into review values (#{contentid},#{userid},#{nicname},#{review})
	</insert>
</mapper>