.ui-icon-mybackicon {
	background-image: url("resources/imgs/icon/backicon.png");
	background-size: 26px 26px;
}

.slide-img {
	width: 80%;
	height: 150px;
}

.mytrip-cover, .detail-area-img {
	width: 100%;
}

#login-icon {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.ui-content {
	padding: 0px;
}

#mytrip-invite, #mytrip-maps {
	display: none;
}

.search-page-btn {
	box-sizing: border-box; display: inline-block; width: 50%;
}

.mytrip-detail-btn {
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	top: -48px;
	width: 50%;
	background-color: black;
	color: white;
	opacity: 0.5;
}

.slider-text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 80%;
	height: 20px;
	text-decoration: none;
}